.card {
    width: 20vw;
    height: 20vh;
    min-width:200px;
    min-width: 200px;
    border-radius:50%;
    background-color: red;
    margin: 8px;
    
    &__link {

        text-decoration: none;
        width: 20vw;
        height: 20vh;
        min-width: 75px;
        min-height: 75px;

        box-shadow: 0 0 0 2px #000;
        // margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius:50%;
    }
    
    &__title{
        color: white;
        font-size: 4vmin;
        margin: 0.5vmin;
    }

    &__image {
        width: 50%;
        height:50%;
    }

    p{
        font-size: 1.5vmin;
    } 

    &__favorite {
        height: 25px;
        width:25px;
        position: relative;
        bottom:67%;
        left:80%;
        border: none;
        text-decoration: none;
        background-color: transparent;
        
        &--favorite {
            background-image: url('../../assets/favorite_icon.svg');
        }
        
        &--no-favorite {
            background-image: url('../../assets/no_favorite_icon.svg');
        }
    }
}

