.card {
    text-decoration: none;
    width: auto;
    height: 20vh;
    box-shadow: 0 0 0 2px #000;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &__title{
        color: red;
        font-size: 2vmin;
    }

    &__image {
        width: 30%;
        height:30%;
    }

    p{
        font-size: 1.5vmin;
    } 

    &__favorite {
        height: 25px;
        width:25px;
        position: relative;
        right: -90%;
        top:-85%;
        border: none;
        text-decoration: none;
        background-color: transparent;
        
        &--favorite {
            background-image: url('../../assets/favorite_icon.svg');
        }
        
        &--no-favorite {
            background-image: url('../../assets/no_favorite_icon.svg');
        }
    }
}

