.list {
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__box {
        width: 90%;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}