.list {
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    &__box {
        width: 90%;
        margin-top: 60px;
        // height: 100%;
        // margin:  3vh auto;
        // gap: 1vmin;
        // box-shadow: 0 0 0 2px #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    &__search {
        position: fixed;
        top: 5px;
        right: 5px;
        border:5px solid pink;
    }
}