body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 4;
}

.loading__text{
    color: yellow;
    font-size: 3rem;
}

.loading__pokeball{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    outline: 2vmin solid #000;
    background-image: linear-gradient(180deg, red, red 45%, #000 45%, #000 55%,#fff 55% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: spin-pokeball 1s linear 0s infinite normal none;
}

.loading__pokeball-inner {
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    outline: 1vmin solid #000;
    box-shadow: 0 0 0 0.5vmin white inset,  0 0 0 1vmin rgb(184, 182, 182) inset;
    background-color: white
}

@keyframes spin-pokeball {
    0% {transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}