@import '../../style/mixins';
@import '../../style/colors';


.detail {
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    overflow: hidden;
    
    &__name {
        font-size: 5rem;
        font-variant: small-caps;
        margin: 2vh;
        color: yellow;
        z-index: 2;
    }

    &__image-box {
        width: 60vh;
        height: 60vh;
        background-color: white;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__image {
        width:50vh;
        height: 50vh;
        
    }

    &__info {        
        height: 30vh;
        margin-top: 6vh;
        display: flex;
        justify-content: center;
        z-index: 2;


        .info__name{
            text-align: left;
            margin: 0.5vh 0.5vw;
            width: 15vw;
            font-size: 1.5rem;
            border-radius: 2vh;
            background-color: white;
            padding-left: 1vw;
            outline: 0.2vmin solid #000;
            color: rgb(87, 86, 86);
        }
    }

    &__nav-box {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 4vh;
        background-color: red;
        display:flex;
        justify-content: space-between;
    }
    &__back-link {
        text-decoration: none;
        background-color: yellow;
        cursor: pointer;
        width:20%;
        @include center-text;

        &:hover {
            color: grey;
        }
    }
    &__previous-nav-link {
        text-decoration: none;
        background-color: #fff;
        cursor: pointer;
        width:40%;
        @include center-text;

        &:hover {
            color: grey;
        } 
    }
    &__next-nav-link {
        text-decoration: none;
        background-color: #fff;
        cursor: pointer;
        width:40%;
        @include center-text;

        &:hover {
            color: grey;
        }
    }
    
    &__favorite-link {
        position: fixed;
        background-color: #fff; 
        right:40%;
        top:40%;
        height: 5vmin;
        width: 5vmin;
        z-index: 3;
    }
    
    &__favorite-button {
        
    height: 5vmin;
    width: 5vmin;
    position: fixed;
    right: 20%;
    top: 20%;
    border: none;
    text-decoration: none;
    }

    &__favorite-image{
    height: 5vmin;
    width: 5vmin;
    // text-decoration: none;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    // border: none;
    cursor: pointer;
    
    &--favorite {
        background-image: url('../../assets/favorite_icon.svg');
    }
    
    &--no-favorite {
        background-image: url('../../assets/no_favorite_icon.svg');
    }}

    &__background {
        height: 200vh;
        width: 200vw;
        position: absolute;
        top: -50vh;
        left: -50vw;
        z-index: 0;
        filter:  invert(100%) blur(5px) opacity(60%);
        transform: rotateY(180deg);
    }

}

@media only screen and (max-width: 768px) {
    .detail__name {
        color: pink
    }
    
}