.detail {
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    overflow: hidden;
    
    &__name {
        font-size: 5rem;
        font-variant: small-caps;
        margin: 2vh;
        color: yellow;
        z-index: 2;
    }

    &__image-box {
        width: 60vh;
        height: 60vh;
        background-color: white;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__image {
        width:50vh;
        height: 50vh;
        
    }

    &__info {        
        height: 30vh;
        margin-top: 6vh;
        display: flex;
        justify-content: center;
        z-index: 2;


        .info__name{
            text-align: left;
            margin: 0.5vh 0.5vw;
            width: 15vw;
            font-size: 1.5rem;
            border-radius: 2vh;
            background-color: white;
            padding-left: 1vw;
            outline: 0.2vmin solid #000;
            color: rgb(87, 86, 86);
        }
    }

    &__back-link {
        text-decoration: none;
        position: fixed;
        bottom: 2vh;
        border-radius: 2vh;
        background-color: #fff;
        padding: 0.5vmax 1vmax;
        cursor: pointer;
        z-index: 3;

        &:hover {
            color: grey;
        }
    }
    &__previous-nav-link {
        text-decoration: none;
        position: fixed;
        left: 2vh;
        border-radius: 2vh;
        background-color: #fff;
        padding: 0.5vmax 1vmax;
        cursor: pointer;

        &:hover {
            color: grey;
        } 
    }
    &__next-nav-link {
        text-decoration: none;
        position: fixed;
        right: 2vh;
        border-radius: 2vh;
        background-color: #fff;
        padding: 0.5vmax 1vmax;
        cursor: pointer;

        &:hover {
            color: grey;
        }
    }
    
    &__favorite-link {
        position: fixed;

        background-color: #fff; 
        right:40%;
        top:40%;
        height: 5vmin;
        width: 5vmin;
    }
    
    &__favorite {
        height: 5vmin;
        width: 5vmin;
        position: fixed;
        right: 20%;
        top: 20%;
        text-decoration: none;
        background-color: transparent;
        border: none;
        
        &--favorite {
            background-image: url('../../assets/favorite_icon.svg');
        }
        
        &--no-favorite {
            background-image: url('../../assets/no_favorite_icon.svg');
        }

    }

    &__background {
        height: 200vh;
        width: 200vw;
        position: absolute;
        top: -50vh;
        left: -50vw;
        z-index: 0;
        filter:  invert(100%) blur(5px) opacity(60%);
        transform: rotateY(180deg);
    }

}

@media only screen and (max-width: 768px) {
    .info__name {
        color: pink
    }
    
}